.register{
    width: 15cm;
    display: flex;
    justify-content: center;
    padding: 5% ;
    margin: 5% auto;
    border: solid black;
    box-shadow: 2px 2px 2px 2px black;

}
.signin{
    background-color: white;
    
    height: auto;
   
    border-radius: 8%;
  }
  .inUp{
    display: flex;
    justify-content: space-around;
    margin: 30px;
  }
  .FormField {
    margin-bottom: 40px;
  }
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: 1em;
    color:black;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .FormField a{
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
  }
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  .FormField__CheckboxLabel {
    color: #646F7D;
    font-size: .9em;
  }
  .FormField_Button{
    width: 3cm;
  }
  .FormField .btnBtn{
    margin-top: 4.3cm;
  }